/* tailwind.css */

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

@layer components {
  .animated-text {
    @apply inline-block whitespace-pre-line font-bold animate-dropIn duration-2000 ease-out;
  }
}

/* Rest of your tailwind.css file remains unchanged */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative font-semibold text-white cursor-pointer text-[17x] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100
      after:transition after:duration-300 after:origin-center hidden;
  }
  .nav-link-mobile {
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27x] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100
      after:transition after:duration-300 after:origin-center;
  }
  .heading {
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase;
  }
}
